@model Result<List<ClientModel>>;

@{
    ViewData["Title"] = "Müşteriler";
    ViewData["PageName"] = "clients-index";

    var modals = new List<ModalViewModel>
    {
        new ModalViewModel
        {
            ID = "modal-create-client",
            Title = "Yeni Müşteri Oluştur",
            TitleID = "modal-title-create",
            ActionButtonText = "Kaydet",
            ActionButtonClass = "bg-gradient-primary",
            OnActionClick = "createClient()",
            ModelInputViewModel = new ModalInputViewModel()
        },
        new ModalViewModel
        {
            ID = "modal-edit-client",
            Title = "Müşteri Güncelleme",
            TitleID = "modal-title-edit",
            ActionButtonText = "Güncelle",
            ActionButtonClass = "bg-gradient-warning",
            OnActionClick = "updateClient()",
            ModelInputViewModel = new ModalInputViewModel { HasClientID = true }
        },
        new ModalViewModel
        {
            ID = "modal-details-client",
            Title = "Müşteri Detayları",
            TitleID = "modal-title-details",
            ModelInputViewModel = new ModalInputViewModel { IsReadonly = true, IsDisabled = true }
        },
        new ModalViewModel
        {
            ID = "modal-delete-client",
            Title = "Müşteri Sil (Bazı hataların geri dönüşü olmaz !)",
            TitleID = "modal-title-delete",
            ActionButtonText = "Sil",
            ActionButtonClass = "bg-gradient-danger",
            OnActionClick = "deleteClient()",
            ModelInputViewModel = new ModalInputViewModel { IsReadonly = true, IsDisabled = true,HasClientID = true  }
        }
    };
}

@section Styles {
    <style>
        .spinner-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1050;
        }
    </style>
}

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Müşteriler</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="px-4 d-flex justify-content-between">
                    <div>
                        <button class="btn btn-icon btn-3 btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal-create-client">
                            <i class="material-symbols-rounded">add</i>
                            <span>Yeni Müşteri</span>
                        </button>
                    </div>
                    <div>
                        <div class="input-group input-group-sm input-group-outline">
                            <label class="form-label">Arama</label>
                            <input id="search" name="search" type="text" class="form-control from-control-sm" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ad Soyad / Şirket Adı</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">E-Posta</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Bireysel / Kurumsal</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Durumu</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Kayıt Tarihi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Data == null || Model.Data.Count == 0)
                            {
                                <tr>
                                    <td class="text-center" colspan="6">
                                        <span class="mb-0 ps-2 text-sm">Herhangi bir müşteri bulunamadı.</span>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var client in Model.Data)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div class="my-auto">
                                                    <span class="mb-0 ps-2 text-sm">@client.Name</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-sm font-weight-bold mb-0"><a href="mailto:kaya.asana@gmail.com" target="_blank">@client.Email</a></span>
                                        </td>
                                        <td>
                                            <span class="text-xs font-weight-bold">@(client.IsCorporate ? "Kurumsal" : "Bireysel")</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge badge-sm @(client.Locked ? " bg-gradient-secondary" : "bg-gradient-success")">@(client.Locked ? "Pasif" : "Aktif")</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-xs font-weight-bold">@client.CreatedAt</span>
                                        </td>
                                        <td class="text-center align-middle">
                                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal-edit-client" class="text-info font-weightbold text-xs me-2" onclick="setEditClientModal(@client.ID)">Düzenle</a>
                                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal-details-client" class="text-secondary font-weightbold text-xs me-2" onclick="setDetailsClientModal(@client.ID)">Detay</a>
                                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal-delete-client" class="text-danger font-weightbold text-xs me-2" onclick="setDeleteClientModal(@client.ID)">Sil</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var modal in modals)
{
    <partial name="_DynamicModal" model=modal></partial>
}

<div id="loadingSpinner" class="spinner-overlay" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Yükleniyor...</span>
    </div>
</div>

@section Scripts {

    <script>

        function createClient()
        {
            // .is(':checked'):
            // Seçilen checkbox öğesinin işaretli olup olmadığını kontrol eder.
            // Eğer checkbox işaretli ise true, değilse false döner.

            let modal_body = $("#modal-create-client .modal-body");
            
            let fname = modal_body.find("#name").val();
            let femail = modal_body.find("#email").val();
            let fphone = modal_body.find("#phone").val();
            let fdescription = modal_body.find("#description").val();
            let fcorporate = modal_body.find("#iscorporate").is(':checked');
            let flocked = modal_body.find("#islocked").is(':checked');

            let data = {
                "name": fname,
                "email": femail,
                "phone": fphone,
                "description": fdescription,
                "iscorporate": fcorporate,
                "locked": flocked
            };

            $.ajax({
                method: "post",
                url: "/Clients/Create",
                data: data,
                beforeSend: function (){
                    modal_body.find(".is-invalid").removeClass("is-invalid");
                    $("#loadingSpinner").show();
                },
                complete: function () {
                    $("#loadingSpinner").hide();
                }
            }).done(function (result) {
                if (!result.success) {
                   for (var key in result.errors)
                   {
                     var field = modal_body.find('#' + key.toLowerCase());
                     field.parent().addClass("is-invalid");

                      // C# nesnesi şu şekilde tanımlanmış olsun:

                      // var errors = new Dictionary<string, List<string>>
                      // {
                      //     { "name", new List<string> { "Ad boş bırakılamaz.", "Ad en az 3 karakter olmalıdır." } },
                      //     { "email", new List<string> { "Geçersiz bir e-posta adresi." } }
                      // };

                      // Bu nesne şu şekilde JSON'a çevrilir:

                      // return new JsonResult(new { errors = errors });

                      // Bir backend API örneğin şu şekilde bir JSON nesnesi döner:

                      // {
                      //     "success": false,
                      //     "errors": {
                      //         "name": ["Ad gerekli.", "Ad en az 3 karakter olmalıdır."],
                      //         "email": ["Geçerli bir e-posta adresi giriniz."]
                      //     }
                      // }

                      // Bu nesne JavaScript'te şu şekilde işlenir:

                      // result.errors["name"]:
                      // errors nesnesi içinde name anahtarına (key) karşılık gelen değeri döndürür.
                      // Değer bir array'dir: ["Ad gerekli.", "Ad en az 3 karakter olmalıdır."].


                     result.errors[key].forEach(function (errorMessage)
                     {
                         toastr.error(errorMessage, "Hata");
                     });
                   }
                }
                else
                {
                  toastr.success(result.message || "İşlem başarılı!");

                  setTimeout(function () {
                      window.location.reload();
                  }, 1000);
                }
            }).fail(function () {
                toastr.error("Sunucuyla bağlantı kurulamadı.", "Hata");
            });
        }

        function updateClient()
        {
            let modal_body = $("#modal-edit-client .modal-body");

            let clientId = modal_body.find("#clientid").val();
            let fname = modal_body.find("#name").val();
            let femail = modal_body.find("#email").val();
            let fphone = modal_body.find("#phone").val();
            let fdescription = modal_body.find("#description").val();
            let fcorporate = modal_body.find("#iscorporate").is(':checked');
            let flocked = modal_body.find("#islocked").is(':checked');

            var data = {
                "id": clientId,
                "name": fname,
                "email": femail,
                "phone": fphone,
                "description": fdescription,
                "iscorporate": fcorporate,
                "locked": flocked
            };

            $.ajax({
                method: "post",
                url: "/Clients/Update",
                data: data,
                beforeSend: function (){
                    modal_body.find(".is-invalid").removeClass("is-invalid");
                    $("#loadingSpinner").show();
                },
                complete: function () {
                    $("#loadingSpinner").hide();
                }
            }).done(function(result){
                 if (!result.success) {
                    for (var key in result.errors)
                    {
                      var field = modal_body.find('#' + key.toLowerCase());
                      field.parent().addClass("is-invalid");

                      result.errors[key].forEach(function (errorMessage) {
                          toastr.error(errorMessage, "Hata");
                      });
                    }
                }
                else
                {
                  toastr.success(result.message || "İşlem başarılı!");

                  setTimeout(function () {
                      window.location.reload();
                  }, 1000);
                }
            });
        }

         function deleteClient()
         {
            var modal_body = $("#modal-delete-client .modal-body");

            var clientid = modal_body.find("#clientid").val();

            $.ajax({
                method: "post",
                url : `/Clients/Delete/${clientid}`,
                beforeSend: function (){
                    $("#loadingSpinner").show();
                },
                complete: function () {
                    $("#loadingSpinner").hide();
                }
                }).done(function(result){
                 if (!result.success)
                 {
                    for(var key in result.errors)
                    {
                      toastr.error(err.value,"Hata");
                    }
                }
                else
                {
                  toastr.success(result.message || "İşlem başarılı!");

                  setTimeout(function () {
                      window.location.reload();
                  }, 1000);
                }
            });
        }

        function setEditClientModal(clientid)
        {
            $.ajax({
                method : "get",
                url : `/Clients/Details/${clientid}`
            }).done(function(result){
                if (result != null)
                {
                  let modal_body = $("#modal-edit-client .modal-body");
                  
                  let inp_clientid = modal_body.find("#clientid");
                  let inp_name = modal_body.find("#name");
                  let inp_email = modal_body.find("#email");
                  let inp_phone = modal_body.find("#phone");
                  let inp_description = modal_body.find("#description");
                  let inp_iscorporate = modal_body.find("#iscorporate");
                  let inp_islocked = modal_body.find("#islocked");

                  // 1. Attribute (Öznitelik): Başlangıç değerleri
                  // console.log(textbox.attr('placeholder')); // "Enter your name" -> HTML'deki placeholder
                  // console.log(textbox.attr('value'));       // "John" -> HTML başlangıç değeri
                  //
                  // 2. Property (Özellik): Çalışma anındaki durum
                  // console.log(textbox.prop('value'));       // "John" -> O anki değeri (başlangıçta John)
                  //
                  // Kullanıcı değerini değiştirdiğinde:
                  // textbox.val('Doe'); // Kullanıcı metin kutusuna 'Doe' yazdı
                  //
                  // Yeni durumları kontrol edelim
                  // console.log(textbox.attr('value'));       // "John" -> Başlangıç değeri (HTML'den gelir)
                  // console.log(textbox.prop('value'));       // "Doe" -> Kullanıcının yazdığı yeni değer

                  inp_clientid.val(result.data.id);
                  inp_name.val(result.data.name);
                  inp_email.val(result.data.email);
                  inp_phone.val(result.data.phone);
                  inp_description.val(result.data.description);
                  inp_iscorporate.prop('checked',result.data.isCorporate);
                  inp_islocked.prop('checked',result.data.locked);

                  if(inp_name.val() != null) inp_name.parent().addClass("is-filled");
                  if(inp_name.val() != null) inp_email.parent().addClass("is-filled");
                  if(inp_name.val() != null) inp_phone.parent().addClass("is-filled");
                  if(inp_name.val() != null) inp_description.parent().addClass("is-filled");
                }
            });
        }

        function setDeleteClientModal(clientid)
        {
            $.ajax({
                method : "get",
                url : `/Clients/Details/${clientid}`
            }).done(function(result){
                if (result != null)
                {
                  let modal_body = $("#modal-delete-client .modal-body");

                  let inp_clientId = modal_body.find("#clientid");
                  let inp_name = modal_body.find("#name");
                  let inp_email = modal_body.find("#email");
                  let inp_phone = modal_body.find("#phone");
                  let inp_description = modal_body.find("#description");
                  let inp_iscorporate = modal_body.find("#iscorporate");
                  let inp_islocked = modal_body.find("#islocked");

                  inp_clientId.val(result.data.id);
                  inp_name.val(result.data.name);
                  inp_email.val(result.data.email);
                  inp_phone.val(result.data.phone);
                  inp_description.val(result.data.description);
                  inp_iscorporate.prop('checked',result.data.isCorporate);
                  inp_islocked.prop('checked',result.data.locked);

                  if(inp_name.val() != null) inp_name.parent().addClass("is-filled");
                  if(inp_name.val() != null) inp_email.parent().addClass("is-filled");
                  if(inp_name.val() != null) inp_phone.parent().addClass("is-filled");
                  if(inp_name.val() != null) inp_description.parent().addClass("is-filled");
                }
            });
        }

        function setDetailsClientModal(clientid)
        {
            console.log(clientid);

            $.ajax({
                method : "get",
                url : `/Clients/Details/${clientid}`
            }).done(function(result){
                if (result != null)
                {
                  let modal_body = $("#modal-details-client .modal-body");
                  
                  let inp_name = modal_body.find("#name");
                  let inp_email = modal_body.find("#email");
                  let inp_phone = modal_body.find("#phone");
                  let inp_description = modal_body.find("#description");
                  let inp_iscorporate = modal_body.find("#iscorporate");
                  let inp_islocked = modal_body.find("#islocked");

                  inp_name.val(result.data.name);
                  inp_email.val(result.data.email);
                  inp_phone.val(result.data.phone);
                  inp_description.val(result.data.description);
                  inp_iscorporate.prop('checked',result.data.isCorporate);
                  inp_islocked.prop('checked',result.data.locked);

                  if(inp_name.val() != null) inp_name.parent().addClass("is-filled");
                  if(inp_name.val() != null) inp_email.parent().addClass("is-filled");
                  if(inp_name.val() != null) inp_phone.parent().addClass("is-filled");
                  if(inp_name.val() != null) inp_description.parent().addClass("is-filled");
                }
            });
        }

        // Debouncing, bir olayın (örneğin bir giriş alanına yazma gibi) sürekli tetiklenmesi yerine belirli bir süre bekleyerek tek bir işlem yapılmasını sağlar.

        // searchTimeout: Kullanıcı sürekli bir şeyler yazarken önceki işlemleri iptal etmek için kullanılan bir zamanlayıcı değişkeni.

        let searchTimeout;

        // jQuery'nin $() metodu DOM tamamen yüklendiğinde çalışacak işlemleri tanımlar.
         $(function () {

            // $("#search").on("input", ...): Kullanıcı arama kutusuna bir şey yazdığında çalışır.
            $("#search").on("input", function ()
            {
                const search = $(this).val();

                clearTimeout(searchTimeout);

                // setTimeout asenkron olarak çalışıyor. Arka planda 500 milisaniye bekledikten sonra çalışır. Onun için kilitlenme olmaz ve JavaScript motorunu bloke olmaz.
                // 1000 milisaniye, 1 saniyedir.
                searchTimeout = setTimeout(function () {
                    searchClients(search);
                }, 1000);
            });
        });

        function searchClients(search)
        {
        // encodeURIComponent JavaScript'te bir fonksiyondur ve URL içinde geçerli olmayan karakterleri URL güvenli bir formatta kodlamaya yarar. URL'de geçerli olmayan karakterler şunlardır:

        // Boşluklar
        // Özel karakterler (&, ?, =, /, #, % gibi)
        // Unicode karakterleri (örneğin, ç, ğ, ü gibi Türkçe harfler)

        // Neden Kullanılır?
        // Eğer özel karakterler bir URL içinde kullanılırsa, URL'nin bozulmasına veya hatalara yol açabilir.

        // Örneğin:
        // const search = "john doe";
        // const url = "/Clients/Search?search=" + search;

        // Bu durumda URL şu şekilde oluşur:
        // /Clients/Search?search=john doe

        // Boşluk bir geçerli karakter değildir, bu yüzden URL çalışmaz.
        // Bunun yerine:
        // const search = "john doe";
        // const url = "/Clients/Search?search=" + encodeURIComponent(search);

        // Bu durumda URL şu şekilde kodlanır:
        // /Clients/Search?search=john%20doe
        // Bu artık geçerli bir URL'dir.

          const url = '/Clients/Search?search=' + encodeURIComponent(search);

          $.ajax({
              method: "get",
              url: url,
              beforeSend: function () {
                  $("#loadingSpinner").show();
              },
              complete: function () {
                  $("#loadingSpinner").hide();
              }
          }).done(function (result)
          {
              if (result.success)
              {
                  updateTable(result.data);
              }
              else
              {
                  toastr.error(result.message, "Hata");
              }
          }).fail(function ()
          {
              toastr.error("Sunucuyla bağlantı kurulamadı.", "Hata");
          });
        }

        function updateTable(clients) {

            const tbody = $("table tbody");

            tbody.empty();

            if (clients && clients.length > 0)
            {
                clients.forEach((client) => {
                    const row = `
                        <tr>
                            <td>
                                <div class="d-flex px-2">
                                    <div class="my-auto">
                                        <span class="mb-0 ps-2 text-sm">${client.name}</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="text-sm font-weight-bold mb-0"><a href="mailto:${client.email}" target="_blank">${client.email}</a></span>
                            </td>
                            <td>
                                <span class="text-xs font-weight-bold">${client.isCorporate ? "Kurumsal" : "Bireysel"}</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-sm ${client.locked ? "bg-gradient-secondary" : "bg-gradient-success"}">${client.locked ? "Pasif" : "Aktif"}</span>
                            </td>
                            <td class="text-center">
                                <span class="text-xs font-weight-bold">${client.createdAt}</span>
                            </td>
                            <td class="text-center align-middle">
                                <a href="javascript:;"  data-bs-toggle="modal" data-bs-target="#modal-edit-client" class="text-info font-weight-bold text-xs me-2" onclick="setEditClientModal(${client.id})">Düzenle</a>
                                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal-details-client"  class="text-secondary font-weight-bold text-xs me-2" onclick="setDetailsClientModal(${client.id})">Detay</a>
                                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal-delete-client" class="text-danger font-weight-bold text-xs me-2" onclick="setDeleteClientModal(${client.id})">Sil</a>
                            </td>
                        </tr>
                    `;

                    tbody.append(row);
                });
            }
            else
            {
                tbody.append(`
                    <tr>
                        <td class="text-center" colspan="6">
                            <span class="mb-0 ps-2 text-sm">Arama kriterlerine uygun müşteri bulunamadı.</span>
                        </td>
                    </tr>
                `);
            }
        }

    </script>
}
